<div id="wrapper">
	<section>
		<h2>New Blog</h2>
		<form action='/blogs' method='POST'>
			<table id="blogEdit">
				<tr>
					<th>Title</th>
					<td><input id='blogTitle' name='title' type='text' placeholder='title'></td>
				</tr>
				<tr>
					<th>Description</th>
					<td><input id='blogDesc' name='description' type='text' placeholder='description (optional)'></td>
				</tr>
				<tr>
					<th>Content</th>
					<td>
						<textarea name='content' rows="10" cols="30" id='blogContent' type='text' placeholder='content'></textarea>
						<h5><a href="https://help.github.com/articles/markdown-basics/">Markdown guide</a></h5>
					</td>
				</tr>
			</table>
			<input class="button1" type="submit" value="SUBMIT"></form>
		    <form action='/blogs' method='GET'>
			    <input class="button1" type="submit" value="CANCEL">
		    </form>
		    <% if @error %>
			    <p id="error"><%= @error %></p>
		    <% end %>
		</form>
	</section>
</div>