<script src='/js/searches.js'></script>
<div id='wrapper'>
  <h1>Search</h1>
  <section>
    <form action='/blogs/search' method='GET'>
      <table>
        <tr>
          <th>Keyword</th>
          <td id="form">
            <input id='input' type='text' name='keyword' placeholder='Type in a keyword' />
            <h5>Keyword is case sensative</h5>
          </td>
        </tr>
      </table>
      <input id='searchButton' class='button1' type='submit' value='Search' />
      <td id="form"><input id='cancelSearch' class='button1' type='submit' value='Clear' />
    </form>
  </section>
  <div id='resultsAnchor'></div>
  <script type='template' id='resultsTemplate'>
    <h1>Results for "{{= searchedKeyword }}"</h1>
    <ol>
      {{ for(var blog in resultBlogs) { }}
        <li>
          <a href='/blogs/{{= resultBlogs[blog].id }}'>{{= resultBlogs[blog].title }}</a>
          <p>{{= resultBlogs[blog].html_content }}</p>
          <h5>
            Authored by <a href="/users/{{= resultBlogs[blog].author.id }}">{{= resultBlogs[blog].author.name }}</a>
          </h5>
        </li>
      {{ } }}
    <ol>
  </script>
</div>
