<script src='/js/searches.js'></script>
<div id='wrapper'>
  <section id='searchForm'>
    <h1>Search</h1>
    <p>Search for blogs by:<p>
    <form action='/blogs/search' method='GET'>
        <input id='input' type='text' name='keyword' placeholder='Keyword' />
        <input id='searchButton' class='button1' type='submit' value='Search' />
        <input id='cancelSearch' class='button1' type='submit' value='Cancel' />
    </form>
  </section>
  <div id='resultsAnchor'></div>
  <script type='template' id='resultsTemplate'>
    <h1>Results for "{{= searchedKeyword }}"</h1>
    <ol>
      {{ for(var blog in resultBlogs) { }}
        <li>
          <a href='/blogs/{{= resultBlogs[blog].id }}'>{{= resultBlogs[blog].title }}</a>
          <p>{{= resultBlogs[blog].content }}</p>
        </li>
      {{ } }}
    <ol>
  </script>
</div>
