* {
  box-sizing: border-box;
}
html {
  background-color: #404040;
  background-image: url('/images/background.gif');
  background-repeat: no-repeat;
  color: #262626;
}

#wrapper {
  margin: 15px auto auto;
  width: 60%;
  background: #7f7f7f;
  border-radius: 10px;
  border: 2px solid #999999;
  box-shadow: 0 0 0 2px #b2b2b2;
  background: linear-gradient(0deg, #c8c8c8, #f2f2f2);
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
  font-size: 14px;
}

.content {
  margin: 0;
  padding: 4px;
}
