* {
  box-sizing: border-box;
}
html {
  background: #3f3f3f;
  background-image:
     -webkit-radial-gradient(20% top, rgb(80, 80, 80) 0%, rgb(30,30,30) 75%),
     -webkit-radial-gradient(right top, rgb(190, 190, 190) 100%, rgba(100, 100, 100,0) 57%);
  background-repeat: no-repeat;
  background-size: 150%;
  color: #262626;
  overflow-y: scroll;
  min-height: 100%;
}

#wrapper {
  margin: 15px auto auto;
  padding: 10px 10px 10px 10px;
  width: 60%;
  min-width: 621px;
  max-width: 800px;
  background: #7f7f7f;
  border-radius: 10px;
  border: 2px solid #728c99;
  background: linear-gradient(0deg, #d8d8d8, #f2f2f2);
}
#optionsWrapper {
  margin: 2px;
  height: 20px;
}

table {
  margin: 10px;
  border-radius: 10px;
  text-align: left;
}
tr, th, td {
  padding: 4px 12px 4px 12px;
  vertical-align: top;
  text-align: left;
  border-radius: 10px;
}
th {
  padding: 16px 0 0 0;
}
td#form {
  width: 100%;
}

form {
  display: inline;
  text-align: center;
}
section {
  text-align: center;
  min-width: 550px;
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input, textarea {
  width: 100%;
  margin: 5px auto 5px auto;
  padding: 6px;
  outline: none;
  border-radius: 6px;
  border: 0;
}
#center {
  margin: 0 auto auto;
  width: 400px;
  text-align: center;
}
#right {
  float: right;
  margin: 0;
  padding: 6px 0 0 0;
}
#searchForm {
  width: 400px;
}

.checkbox {
  height: 20px;
  width: 20px;
}
li {
  padding: 0 0 6px 0;
}

.button1, .button2, .buttonSmall, .buttonExtraSmall, .buttonWide {
  margin: 4px 0 4px 0;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  background-color: #192a33;
}
.button1:hover, .button2:hover, .buttonSmall:hover, .buttonExtraSmall:hover, .buttonWide:hover {
  background: #00547f;
}
.button1:active, .button2:active, .buttonSmall:active, .buttonExtraSmall:active, .buttonWide:active {
  background: #0087cc;
}
.button1 {
  font-size: 16px;
  width: 196px;
}
.button2 {
  font-size: 16px;
  width: 396px;
}
.buttonSmall, .buttonExtraSmall, .buttonWide {
  margin: 2px 2px 2px 2px;
  padding: 0;
  font-size: 12px;
}
.buttonSmall {
  float: right;
  height: 20px;
  width: 60px;
}
.buttonExtraSmall {
  font-size: 12px;
  height: 16px;
  width: 50px;
}
.buttonWide {
  float: left;
  display: block;
  font-size: 12px;
  height: 20px;
  width: 300px;
}
