* {
  box-sizing: border-box;
  /*border: 1px solid black;*/
}
html {
  background-color: #404040;
  background-image: url('/images/background.png');
  background-position: -130px -100px;
  background-repeat: no-repeat;
  color: #262626;
  overflow-y: scroll;
}

#wrapper, #showWrapper {
  margin: 15px auto auto;
  padding: 10px;
  width: 75%;
  background: #7f7f7f;
  border-radius: 10px;
  border: 2px solid #999999;
  box-shadow: 0 0 0 2px #b2b2b2;
  background: linear-gradient(0deg, #c8c8c8, #f2f2f2);
}
#showWrapper {
  padding-bottom: 26px;
}

.content {
  margin: 0;
  padding: 4px;
}

th, td {
  padding: 4px;
  vertical-align: text-top;
  text-align: left;
}

li {
  list-style-type: none;
}

section {

  width: 400px;
}
form {
  display: inline;

}
input, textarea {
  display: inline-block;
  width: 394px;
  margin: 4px 0 4px 0;
  padding: 6px;
  outline: none;
  border-radius: 6px;
  border: 0;
}
.toggle {
  display: none;
}
.checkbox {
  height: 20px;
  width: 20px;
}

.button1, .button2, .buttonSmall, .buttonWide {
  margin: 4px 0 4px 0;
  border-radius: 6px;
  border: 0;
  color: #ffffff;
  background-color: #192a33;
}
.button1:hover, .button2:hover, .buttonSmall:hover, .buttonWide:hover {
  background: #263f4c;
}
.button1:active, .button2:active, .buttonSmall:active, .buttonWide:active {
  background: #335566;
}
.button1 {
  font-size: 16px;
  width: 194px;
}
.buttonSmall, .buttonWide {
  margin: 2px 2px 2px 2px;
  padding: 0;
  font-size: 12px;
}
.buttonSmall {
  float: right;
  height: 20px;
  width: 60px;
}
.buttonWide {
  float: left;
  display: block;
  font-size: 12px;
  height: 20px;
  width: 400px;
}