header {
  margin: 0 auto auto;
  height: 80px;
  background: #7f7f7f;
  border-radius: 10px;
  border: 2px solid #999999;
  box-shadow: 0 0 0 2px #b2b2b2;
  background: linear-gradient(0deg, #c8c8c8, #f2f2f2);
}

header > nav > a {
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 10px 0 6px;
  font: italic normal normal 22px 'Yanone Kaffeesatz', Impact;
  text-shadow: 0 0 4px #b2b2b2, 0 0 4px #b2b2b2, 0 0 4px #b2b2b2, 0 0 4px #b2b2b2, 0 0 4px #7f7f7f;
  border: 1px solid #000000;
  border-color: #bfbfbf;
  background: linear-gradient(0deg, #c8c8c8, #f2f2f2);
}

header > nav > a:hover {
  background: linear-gradient(0deg, #acd4e5, #f2f2f2);
}

header > nav > a:active {
  background: linear-gradient(0deg, #b5d6e2, #f2f2f2);
  text-shadow: 0 0 0 #b2b2b2, 0 0 0 #b2b2b2, 0 0 0 #b2b2b2, 0 0 0 #b2b2b2, 0 0 4px #7f7f7f;
}
header > nav > a:hover, header > nav > a:active  {
  text-decoration: none;
  vertical-align: middle;
  color: #FFFFFF;
}

nav {
  margin: 0 auto auto;
  padding: 22px;
  text-align: right;
}

#headerWrapper {
  margin: 15px auto auto;
  width: 60%;
  min-width: 600px;
  max-width: 800px;
}

#session, #session > a {
  margin: 0 auto auto;
  padding: 4px;
  font-size: 10px;
  text-align: right;
  color: #FFFFFF;
}

#session > a:hover {
  color: #E5F6FF;
}

#logo {
  float: left;
  border: 0;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}
#logo:hover {
  opacity: 0.8;
}
