<div id="wrapper">
	<section>
		<h2>Register</h2>
	  <h3>Enter your details</h3>
	  <form action='/users/new' method='POST'>
	  	<table>
		  	<tr><td><input type="text" name="name" placeholder="name"></td></tr>
		    <tr><td><input type="text" name="email" placeholder="email"></td></tr>
		    <tr><td><input type="text" name="twitter" placeholder="Twitter"></td></tr>
		    <tr><td><input type="password" name="password" placeholder="password"></td></tr>
		    <tr><td><input class="button1" type="submit" value="CREATE"> <input class="button1" type="submit" value="CANCEL"></td></tr>
		    </table>
	  </form>
  </section>
</div>