<div id="wrapper">
	<section>
		<h2>Change Password</h2>
	  <h3>Confirm your old password, then enter a new password</h3>
	  <form action='/users/password' method='POST'>
	  	<table>
		    <tr><td><input type="password" name="oldPassword" placeholder="Old password"></td></tr>
		    <tr><td><input type="password" name="newPassword" placeholder="New password"></td></tr>
		    <tr><td><input type="password" name="confirmPassword" placeholder="Confirm password"></td></tr>
		    <tr><td>
			    <input class="button1" type="submit" value="CHANGE"></form>
			    <form action='/users/<%= logged_in_user.id %>/edit' method='GET'>
			    	<input class="button1" type="submit" value="CANCEL">
		    	</form>
		    </td></tr>
		    <tr>
		    <td>
		    	<% if incorrect_password %>
						<tr>
							<td>
								<div id="center"><span id='loginError'>Incorrect password, please try again.</span></div>
							</td>
						</tr>
					<% elsif mismatch %>
						<tr>
							<td>
								<div id="center"><span id='loginError'>Passwords didn't match, please try again.</span></div>
							</td>
						</tr>
					<% end %>
					</td>
					</tr>
		    </table>
	  </form>
  </section>
</div>