<div id="wrapper">
	<section>
		<h2>Change Password</h2>
	  <h3>Confirm your old password, then enter a new password</h3>
	  <div id="center">
		  <form action='/users/password' method='POST'>
		  	<input type="password" name="oldPassword" placeholder="Old password">
			    <input type="password" name="newPassword" placeholder="New password">
			    <input type="password" name="confirmPassword" placeholder="Confirm password">
				  <input class="button1" type="submit" value="CHANGE"></form>
				  <form action='/users/<%= logged_in_user.id %>/edit' method='GET'>
		    	<input class="button1" type="submit" value="CANCEL">
	    	</form>
	    	<% if incorrect_password %>
					<span id='error'>Incorrect password, please try again.</span></div>
				<% elsif mismatch %>
					<span id='error'>Passwords didn't match, please try again.</span></div>
				<% end %>
		  </form>
	  </div>
  </section>
</div>