<div id="wrapper">
	<p>This is currently a sandbox for me to practice Active Record, Sinatra, JQuery, and Ajax.</p>
	<p>Feel free to play around with the site, including making, editing, and deleting blog posts.</p><br>
	<p>Any feedback or bug-report is appreciated! Please email it to me at <a href="mailto:nase00@gmail.com">nase00@gmail.com</a></p><br>
	<p>Code repository: <a href="https://github.com/Nase00/atomic6">https://github.com/Nase00/atomic6</a></p><br>
	<p style='padding-left: 500px;'><i>- Sean</i></p>
  <a alt="nase00@gmail.com" href="mailto:nase00@gmail.com" target="_blank"><img class="icon" alt="Email Placeholder" height="30" width="160" src="images/email_icon.png" /></a> 
  <a alt="Twitter" href="https://twitter.com/NaseZero" target="_blank"><img class="icon" alt="Twitter" height="30" width="30" src="images/twitter_icon.png" /></a> 
  <a alt="GitHub" href="https://github.com/Nase00" target="_blank"><img class="icon" alt="GitHub" height="30" width="30" src="images/github_icon.png" /></a> 
  <a alt="YouTube channel" href="https://www.youtube.com/user/Atomic6/videos" target="_blank"><img class="icon" alt="YouTube" height="30" width="30" src="images/youtube_icon.png" /></a>
</div>
