<div id="wrapper">
	<p>This is currently a sandbox for me to practice Active Record, Sinatra, JQuery, and Ajax.</p>
	<p>Feel free to play around with the site, including making, editing, and deleting blog posts.</p><br>
	<p>Any feedback or bug-report is appreciated! Please email it to me at <a href="mailto:nase00@gmail.com">nase00@gmail.com</a></p><br>
	<p>Code repository: <a href="https://github.com/Nase00/atomic6">https://github.com/Nase00/atomic6</a></p><br>
	<p style='padding-left: 500px;'><i>- Sean</i></p>
</div>
