<div id="wrapper">
    <% latest_blogs.each do |blog| %>
      <div class="content">
        <h2><%= blog.title %></h2>
        <h3><%= blog.description %></h3>
        <p><%= blog.content %></p>
        <p>Authored by: <%= blog.author.name %></p>
      </div>
    <% end %>
</div>
