<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/text.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/underscore-min.map"></script>
  <script src="/js/strftime.js"></script>

  <title>Atomic6</title>
</head>
<body>
  <div id="headerWrapper">
  <div id="session">
    <% if logged_in? %>
      Welcome, <a href='/users/<%= logged_in_user.id %>'><%= logged_in_user.name %></a>
        <% if logged_in_user.is_admin %>
          &mdash;You are logged in as an admin
        <% end %>
        &mdash; <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </div>
    <header>
      <a href="/"><img id="logo" src="/images/logo.png" /></a>
      <nav>
        <a href="/">Home</a> <a href="/blogs">Blog</a> <a href="">Portfolio</a> <a href="/users">Users</a> <a href="/about">About</a>
      </nav>
    </header>
  </div>
  <%= yield %>
  <footer>
    <a href="https://github.com/Nase00/atomic6">https://github.com/Nase00/atomic6</a>
  </footer>
</body>
</html>
