<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/header.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/preload.js"></script>

  <title>Atomic6</title>
</head>
<body>
  <div id="session"><a href="/login">Login</a> &mdash; Session placeholder</div>
  <header>
    <img id="logo" src="/images/logo.png" />
    <nav>
      <a href="">Home</a> <a href="">Blog</a> <a href="">Portfolio</a> <a href="">About</a>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
